.body {
    background: url("/static/GProfile/images/signup.jpg");
     color: white;
     height: auto;
     padding: 100px 0 0 0; 
}

.form-group {
    text-align: center;
    width: 500px;
    height: 600px;
    background-color:rgb(0,0,0,0.6);
    margin: auto;
    margin-top: -50px;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;
}
.username-input {
    font-size: 20px;
}
.email-input{
    font-size: 20px;
    width: 350px;
}
.pass-input{
    font-size:20px;
}
