{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index/styles/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/styles/topnav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/styles/sidepanel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamers/styles/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamers/styles/login.css' %}">

    <script type="text/javascript" src="{% static 'index/scripts/sidepanel.js' %}"></script>
    <script src="https://kit.fontawesome.com/4f86afdb6c.js" crossorigin="anonymous"></script>
</head>
<body class="body"> 
    <header class="wrapper">
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/play/">Play Games</a>
            <a href="/explore/">Explore</a>
            <a href="">News</a>
            <a href="">Live Stream</a>
            <div class="login">
                {% if user.is_authenticated %}
                <a href="/create/">Create</a>
                <div id="mySidepanel" class="sidepanel">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <p class="username-l">Hi {{ user.username }}</p>
                    <a href="{% url 'gamers:account' user %}">Go to account</a>
                    <a href="/update_account/">Update Profile</a>
                    <a href="#">News</a>
                    <!--<a href="/create-post/">Post Content</a>-->
                    <form class="logout-link" action="{% url 'gamers:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="logout" type="submit">Log Out</button>
                    </form>
                  </div>
                <img class="avatar"src="{{ user.profile.image.url }}"
                 width="50px" height="50px" onclick="openNav()">
            </div>
                {% else %}
                <a href="{% url 'gamers:login' %}">Login</a></li>
                <a href="{% url 'gamers:signup' %}">SignUp</a></li>
                {% endif %}
        <!--</div> -->
    </div>
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>