{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index/styles/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/styles/topnav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/styles/sidepanel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamers/styles/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamers/styles/login.css' %}">

    <script type="text/javascript" src="{% static 'index/scripts/sidepanel.js' %}"></script>
    <script src="https://kit.fontawesome.com/4f86afdb6c.js" crossorigin="anonymous"></script>
</head>
<body class="body"> 
    <header class="wrapper">
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/play/">Play Games</a>
            <a href="/explore/">Explore</a>
            <a href="">News</a>
            <a href="">Live Stream</a>
            <div class="login">
                {% if user.is_authenticated %}
                <p>Welcome {{ user.username }}</p>
                    <a href="/create/">Create</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'GUsers:register' %}">Register</a>

                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
        <!--</div> -->
    </div>
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>