{% extends 'index/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'UserPosts/styles/create-content.css' %}">
<title>Post Content</title>
    <div class="create-content">
        <div class="post-image">
            <a href="#">
                <i class="fas-fa-camera"></i>
            </a>
        </div>
        <div class="post-video">
            <a href="#">
                <i class="fas fa-video"></i>
            </a>
        </div>
    </div>
    
{% endblock %}