{% extends 'index/base.html' %}
{% load static %}    
{% block content %}
<title>Play</title>
<div class="game-posts">
    {% for game in object_list %}
        <img src="{{ game.game_image.url }}" height="350" width="450">
        <br/>
        <a href="{% url 'post:game-detail' game.pk %}">{{ game.name }}</a> 
        - {{ game.published_by }} - 
            {{ game.category }}
            {% if user.is_authenticated %}
                {% if user.id == game.published_by.id %}
                    <small><a href="{% url 'post:update-game' game.pk %}">Edit</a></small>
                    <small><a href="{% url 'post:delete-game' game.pk %}">Delete</a></small>
                {% endif %}
            {% endif %}
            <br>
            {{ game.description|truncatewords:8 }}<br/>
            Date Released : {{ game.date_added }}<br/><br/>
    {% endfor %}
</div>
{% endblock %}