{% extends 'index/base.html' %}
{% load static %}
{% block content %}
<title>{{ post.title }}</title>
<h1>{{ post.title }}</h1>
<small>By: {{ post.author }}</small>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <small><a href="{% url 'post:update-post' post.pk %}">Edit</a></small>
        <small><a href="{% url 'post:delete-post' post.pk %}">Delete</a></small>
    {% endif %}    
{% endif %}
<br/>
<br>
<!--{{ post.header_image.url }} <br/>-->
<img src="{{ post.header_image.url }}" height="600" width="auto">
<h3>{{ post.body | safe }}</h3>
<h5>Game : {{ post.game }}</h5>
<br/>
<small>{{ post.post_date }}</small>
<br><br>
<hr>
<br>
<form action="{% url 'post:like_post' post.pk %}" method="POST">
    {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit", name="post_id"
                    value="{{ post.id }}">Unlike
                </button>
            {% else %}
                <button type="submit", name="post_id"
                    value="{{ post.id }}">Like
                </button>
            {% endif %}
        {% else %}
            <a class="nav-link" href="{% url 'login' %}">Login</a> <small>
                To like this post
            </small>
        {% endif %}
            - {{ total_likes }} Likes     
    </form>
<br/><br/>
<hr>

<!-- COMMENTS -->

<h2>Comments</h2>
{% if not post.comments.all %}
<p>Be the first one to comment!</p>
{% else %}
    {% for comment in post.comments.all %}
        <strong>{{ comment.name }} -
        {{ comment.date_added }}</strong>
        <br/> 
        {{ comment.body }}
        - <a href="{% url 'GUsers:show-profile' post.author.profile.id %}">{{ comment.user.username }}</a>
    {% if user.id == comment.user.pk %}
        <small><a href="{% url 'post:edit-comment' comment.pk %}">Edit</a></small>
        <small><a href="{% url 'post:delete-comment' comment.pk %}">Delete</a></small>
    {% endif %}
        <br/><br/>
{% endfor %}
{% endif %}
<br/>
{% if user.is_authenticated %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- display comment -->

                <!-- display form -->
                <form action="{% url 'post:post-detail' post.pk %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<p> Log in to add comments</p>
{% endif %}
<br/><br/>
<hr>

<!-- PROFILE -->
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
    {% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" width="250" height="250">
    {% else %}
        <img src="{% static 'GProfile/images/pfp.jpg' %}" class="img-fluid rounded-start" width="250" height="250">
    {% endif %}  
    </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ post.author.username }}</h5>
          <p class="small text-muted">
            {% if post.author.profile %}
            <a href="{% url 'GUsers:show-profile' post.author.profile.id %}">Profile</a> |
            {% endif %}

            {% if post.author.profile.Website %}
                <a href="{{ post.author.profile.Website }}">Website</a> |
            {% endif %}

            {% if post.author.profile.Facebook %}
                <a href="{{ post.author.profile.Facebook }}">Facebook</a> |
            {% endif %}
            {% if  post.author.profile.Twitter %}
                <a href="{{ post.author.profile.Twitter }}">Twitter</a> |
            {% endif %}
            {% if post.author.profile.Instagram %}
                <a href="{{ post.author.profile.Instagram }}">Instagram</a> |
            {% endif %}
            {% if post.author.profile.Steam %}
                <a href="{{ post.author.profile.Steam }}">Steam</a> |
            {% endif %}

            {% if post.author.profile.bio %}
                <p class="card-text">{{ post.author.profile.bio }}</p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}