.form-group {
    margin-top: 20px;
    padding-left: 50px;
    margin-left: 500px;
    margin-right: 450px;
    font-size: 24px;
    border: 1px solid purple;
    background-color: blueviolet;
    border-radius: 10px;
}
#signup-btn{
    padding-left: 5px;
    margin-left: 640px;
}

.border-top-pt-3{
    margin-top: 10px;
    font-size: 20px;
    padding-left: 5px;
    margin-right: 1030px;
    border: 1px solid purple;
}

.username {
    font-size: 20px;
}
.password{
    font-size: 20px;
}
.emailfield{
    font-size: 20px;
}
.birthdate{
    font-size: 20px;
}

.signup-button{
    font-size: 22px;
}


