{% extends 'index/base.html' %}
{% load static %}    
{% block content %}
<title>Login</title>
<div class="Login-Form">
    <form class="login-form" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input id="login-btn" type="submit" value="Log In">
    </form>
    <div class="signup-small">
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href="{% url 'gamers:signup' %}">Sign Up</a>
        </small>
    </div>
</div>
{% endblock %}