{% extends 'index/base.html' %}
{% load static %}    
{% load crispy_forms_tags %}
{% block content %}
<title>Sign Up</title>
<div class="content-section">
  <form method="POST" class="POST-class">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom-mb-4">Join Today</legend>
          {{ form|crispy }}
      </fieldset>
      <div class="signup-btn">
          <button class="form-group"id="signup-btn" type="submit">Sign Up</button>
      </div>
  </form>
  <div class="border-top-pt-3">
      <small class="text-muted">
          Already Have An Account? <a class="ml-2" href="{% url 'gamers:login' %}">Sign In</a>
      </small>
  </div>
</div>
<!--
<div class="signup-form">
  <form class="form-group" enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="signup-button" type="submit" value="SignUp">
  </form> 
  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

</div>
{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.pfp.url }}" alt="connect" style="max-height:300px">
{% endif %} -->
{% endblock %}
