body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.header-img{
    position: relative;
    text-align: center;
    color: white;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:aqua;
    font-size: 25px;
}
.h-img{
    width:1349px; 
    height:auto;
    opacity: 0.9;
}

.threebox{
    display: flex;
    text-align: center;
    margin-left: 180px;
}

.threebox > div {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid rebeccapurple;
}
